<div class="px-4 sm:px-6 lg:px-8 xl:px-28">
  <div class="mx-auto lg:mx-0">
        <div class= "text-sm font-medium text-zinc-500 max-w-screen-lg">
          <p class= "mb-4">Wai-Lee is a multi-disciplinary artist, poet, playwright, engineer and mother.  She creates in English, Chinese, Japanese, Spanish, French, and Elixir.  She was born in Wisconsin, raised in Hong Kong, and spent most of her adult life in the San Francisco Bay Area.  She now lives in Hong Kong.</p>
          <p class= "mb-4">Wai-Lee loves to make things and make things work.  She is currently building renku.earth, a website for writing poetry collaboratively.  Her third book of poetry, The Department of Peace, is forthcoming with the Bay Area collective Sixteen Rivers Press in 2025.  She is also working on her forth book, Thank You Silence, based on her experiences waking up profoundly deaf after two emergency surgeries, during a trip to Boston in 2017.</p>
        </div>
  </div>
</div>
